{% extends 'webapp/base.html' %}
<!-- // -->
{%load crispy_forms_tags %}
<!-- // -->
{% block content %}
<body>
  <div class="container bg-light shadow-md p-5 form-layout">
    <h3>Create Tickets</h3>
    <h6>Star adding in the required datails for your record</h6>
    <hr />
    <br />

    <form method="POST" autocomplete="off" action="">
      {% csrf_token %} {{form|crispy}}
      <br />

      <button type="submit" class="btn btn-primary">
        Create Ticket &nbsp;<i class="fa fa-check" aria-hidden="true"></i>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{% url 'dashboard' %}" class="btn btn-secondary"
        >Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i
      ></a>
    </form>
  </div>
  <br />
</body>

{% endblock content %}
