{% extends 'webapp/base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <br />
    <br />
    <div class="text-center">
      <h3>Project <strong>CRM</strong> Managment at it`s fintist!</h3>
      <br />

      <h5>Keep track of your records effectively !</h5>
      <hr />
      <br />
      <a class="btn btn-primary" type="button" href="{% url 'home' %}"
        >Create your account</a
      >
    </div>
    {% endblock content %}
  </body>
</html>
